/* author: Iván Jaimes Martínez (iver)
 * site: www.iver.mx
 * email: ivan.jaimes@iver.mx
 * */
body {
  font-family: Verdana, Geneva, sans-serif;
  color: #333;
  font-size: 13px;
  letter-spacing: -.5px;
}

div:before{
  margin-top: 5px !important;
}

.list-iform {
  background-image: url('../img/bullet.jpg');
  background-repeat: no-repeat;
  background-position: 0 .4em;
  padding: 3px 0px 3px 10px;
  margin: 0;
}

h2.title,
h2.modal-title {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.select {
  font-size: 12px;
  width: 165px;
  padding: 5px 0;
  border-radius: 5px;
  font: -webkit-small-control;
}

.btn-plus {
  background-color: white;
  border: solid 1px rgb(166, 166, 166);
}
.btn-plus:hover {
  background-color: #659a22;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}

body.modal-open #wrap{
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.modal-title {
  color: #659a22;
}
.modal-backdrop {
  background: #f7f7f7;
}

.debug-blue {
  border: solid 1px blue;
}

.debug-red {
  border: solid 1px red;
}

.debug-yellow {
  border: solid 1px yellow;
}
